body {
  padding: 2em;
}

.sequencerContainer {
  width: 35px;
  display: grid;
   grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.step {
  padding: .3em;
  text-align: center;
  width: 4em;
  height: 5em;
  border-radius: 2em;
  margin: .1em;
}
.dark {
  background-color: rgb(80, 0, 200);
}
.light {
  background-color: rgb(160, 0, 200);
}
#active {
  background-color: rgb(255, 170, 255);
}
