body {
  padding: 2em;
}

.sequencerContainer {
  width: 35px;
  display: grid;
   grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.step {
  text-align: center;
  width: 2em;
  height: 3em;
  border-radius: 2em;
  margin: .1em;
}
.dark {
  background-color: rgba(60, 0, 200, .7);
}
.light {
  background-color: rgba(160, 0, 200, .7);
}
